# Ignore all
*
!LICENSE

# Unignore all with extensions
!*.*

# Unignore dirs
!*/

## Above combination ignore all files without extension

# ignore output
*.swp
*.pyc

*.DS_Store

__pycache__
.vscode
.ipynb_checkpoints
.out
